{% load staticfiles %}

<html>
<head>
    <title>Who Cares</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}'>
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
    <style type='text/css'>
    div.practices div img {
        width:100%;
        max-width:100px;
    }

/*    div.practices div img:first-child {
        max-width:300px;
        border-width: 30px;
        border-color: Black;
    }*/

</style>

</head>

<body>
    <header>
        <img src='{% static "img/header.png" %}' height='148' width='1024'>
    </header>
    <div class='container'>
        <h1>Who Cares?</h1>
        <h3>I'm a </h3>


        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Apparel</a></li>
            <li><a href="#">Beer</a></li>
            <li><a href="#">Coffee</a></li>
            <li><a href="#">Uncategorized</a></li>
        </ul>

        {% block content %}
        {% for practice in practices %}

<!--         <div class='col-md-4' style="color:#CB000F;">
                        <img id='latest' src="{{latest_practice.image}}" border="3">
                    </div>
                    <div class='col-md-4' style="text-align:'center';">
                        
                    </div> -->

                <div class='row practices'>
                    <div class='col-md-4' style="color:#CB000F;">
                        <img src="{{practice.image}}" >
                    </div>
                    <div class='col-md-3'>
                        <b>{{practice.practice}}</b>
                    </div>
                    <div class='col-md-4'>
                        <h4><span style='color:green'><b>VOTE if it matters:</b></span></h4><br>

                        <form method='post' action='{% url "vote_up" category %}'>{% csrf_token %}
                            <input type="hidden" name="practice_id" value="{{practice.id}}">
                            <input type="hidden" name="voter" value="consumer">
                            <button type='submit' class="btn btn-success">More&#x25B2;</span>
                            </button>
                        </form>
                        
                        <form method='post' action='{% url "vote_down" category %}'>{% csrf_token %}
                            <input type="hidden" name="practice_id" value="{{practice.id}}">
                            <input type="hidden" name="voter" value="consumer">
                            <button class="btn btn-warning">Less &#x25BC;</button>
                        </form>
                        
                    </div>
                </div>
        {% endfor %}
        {% endblock %}
    </div>
</body>
</html>