{% load staticfiles %}

<html>
<head>
    <title>Who Cares</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}'>
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <style type='text/css'>
    div.practices div img {
        width:100%;
        max-width:100px;
    }

    div.practices.active_ div img {
        max-width:600px;
        border-width: 30px;
        border-color: Black;
    }
    /*div.practices.active_ .col-md-4 {
        display:block;
    }

    div.practices.active_ .col-md-3 {
        display:block;
    }*/
</style>

</head>

<body>
    <script>
        var hide_active_practice = function () {
            $('.active_ .practice-text').hide();
            $('.active_ .practice-vote').hide();
            $('.active_').removeClass('active_')
        }
        var hover_practice = function ($elem) {
            hide_active_practice();
            $elem.addClass('active_');
            $('.active_ .practice-text').show();
            $('.active_ .practice-vote').show();

        }
        $('.practices .practice-img').click(function () {
            
            hover_practice($(this));
        });
        $(function () {
            hover_practice($('.practices').first());
            $('.practices').each(function (t,e) {
                $(e).hover(function () {
                    hover_practice($(this));
                });
            });
            $('h3 input[type=radio]').each(function(t,e) {
                $(e).click(function() {
                    $('form input[name=voter]').each(function (t,e) {
                        $(e).val($('input[name=voter]:checked').val())
                    })
                });
            });
        });
    </script>
    <header>
        <img src='{% static "img/header.png" %}' height='148' width='1024'>
    </header>
    <div class='container'>
        <h1>Who Cares?</h1>
        <h3>I'm a &nbsp;
                <input type="radio" name="voter" value="consumer" checked> Consumer &nbsp;
                <input type="radio" name="voter" value="Company"> Company &nbsp;
                <input type="radio" name="voter" value="Ecolabel"> Ecolabel &nbsp;
                <input type="radio" name="voter" value="Regulator"> Regulator
        </h3>
        <ul class="nav nav-tabs">

            <li {% if category|lower = 'uncategorized' or not category %}class="active"{% endif %}><a href="{% url 'home' category='uncategorized' %}">Uncategorized</a></li>
            {% for category_iter in categories %}
                <li {% if category|lower = category_iter or not category %}class="active"{% endif %}><a href="{% url 'home' category=category_iter %}">{{category_iter|title}}</a></li>
            {% endfor %}
        </ul>

        {% for practice in practices %}

<!--         <div class='col-md-4' style="color:#CB000F;">
                        <img id='latest' src="{{latest_practice.image}}" border="3">
                    </div>
                    <div class='col-md-4' style="text-align:'center';">
                        
                    </div> -->

                <div class='row practices'>
                    <div class='col-md-4 practice-img' style="color:#CB000F;">
                        <img src="{{practice.image}}" >
                    </div>
                    <div class='col-md-3 practice-text' style='display:none;'>
                        <img src="{% static 'img/twitterbird.png' %}" style="max-width:50px;"><b>{{practice.practice}}</b>
                    </div>
                    <div class='col-md-4 practice-vote' style='display:none;'>
                        <h4><span style='color:green'><b>VOTE if it matters:</b></span></h4><br>
                        
                        <form method='post' action='{% url "vote_up" category %}'>{% csrf_token %}
                            <input type="hidden" name="practice_id" value="{{practice.id}}">
                            <input type="hidden" name="voter" value="consumer">
                            <button type='submit' class="btn btn-success">More&#x25B2;</span>
                            </button>
                        </form>
                        
                        <form method='post' action='{% url "vote_down" category %}'>{% csrf_token %}
                            <input type="hidden" name="practice_id" value="{{practice.id}}">
                            <input type="hidden" name="voter" value="consumer">
                            <button class="btn btn-warning">Less &#x25BC;</button>
                        </form>
                        
                    </div>
                </div>
        {% endfor %}
    </div>
</body>
</html>