{% load staticfiles %}

<html>
<head>
    <title>Who Cares</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}'>
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <style type='text/css'>
    div.practices div img {
        width:100%;
        max-width:100px;
    }

    div.practices.active_ div img {
        max-width:300px;
        border-width: 30px;
        border-color: Black;
    }
    /*div.practices.active_ .col-md-4 {
        display:block;
    }

    div.practices.active_ .col-md-3 {
        display:block;
    }*/
</style>

</head>

<body>

    <header>
        <img src='{% static "img/header.png" %}' height='148' width='1024'>
    </header>
    <div class='container'>
        <h1>Who Cares?</h1>
        <!-- <h3>I'm a </h3> -->

        <table>
                <tr>
                    <th></th>
                    <th>Practice</th>
                    <th>Consumer Vote-Ups</th>
                    <th>Consumer Vote-Downs</th>
                    <th>Maker Vote-Ups</th>
                    <th>Maker Vote-Down</th>
                </tr>
        {% for practice in practices %}
                <tr>
                    <td><img src="{{practice.image}}" style="max-width:100px;"></td>
                    <td>{{practice.practice}}
                    </td><td style="color:green;">{{practice.consumer_yes}}
                    </td><td  style="color:orange;">{{practice.consumer_no}}
                    </td><td  style="color:green;">{{practice.maker_yes}}
                    </td><td style="color:orange;">{{practice.maker_no}}
                    </td>
                </tr>
            
        {% endfor %}
        </table>
    </div>
</body>
</html>